@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 23);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Noise container */
.noise-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

.noise-container::before {
  z-index: 1;
  position: fixed;
  content: '';
  height: 300%;
  width: 300%;
  top: -100%;
  left: -50%;
  pointer-events: none;
  user-select: none;
  background-image: url('http://momentsingraphics.de/Media/BlueNoise/WhiteNoiseDithering.png');
  opacity: 0.029;
  animation: noise 8s steps(10) infinite;
}

/* Text container */
.text-wrapper {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.animated-gradient-text {
  margin-top: 60px;
  line-height: 1.1;
  white-space: nowrap;
  font-size: 15vw;
  font-family: 'Herr Von Muellerhoff', cursive;
  font-weight: lighter;
  text-align: center;
  background: linear-gradient(to right, #c9a67c, #ffd093, #ffd199);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 8s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes noise {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-15%, 5%); }
  30% { transform: translate(7%, -25%); }
  40% { transform: translate(-5%, 25%); }
  50% { transform: translate(-15%, 10%); }
  60% { transform: translate(15%, 0%); }
  70% { transform: translate(0%, 15%); }
  80% { transform: translate(3%, 35%); }
  90% { transform: translate(-10%, 10%); }
}